<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Cosmic Morality</title>
</head>

<!--Header from "header.html"-->
{% include "header.html" %}

<!--Navbar from "navbar.html"-->
{% include "navbar.html" %}

<body>
<div class="row">
    <div class="col-lg-4 quotes">
        “Science is not meant to cure us of mystery, but to reinvent and reinvigorate it.”
        <p>– Robert Sapolsky</p>

    </div>
    <div class="col-lg-4">
        <img src="{{ url_for('static', filename='image/puppet-image.jpg') }}">

    </div>
    <div class="col-lg-4">
        <div class="quotes">
            “You don’t have to choose between being scientific and being compassionate.”
            <p>– Robert Sapolsky</p>

        </div>
    </div>
    </div>
    <div class="row">
        <h3>Preface</h3>
        <p class="paragraph">
            This section is openly critical of free will. If you're unwilling to entertain the possibility that free
            will is in fewer places than we tend to think, then don't read this page. If you're interested in fortifying
            your own humility or extending compassion toward the luckless, then please read on.
        </p>

        <h3>What is Cosmic Morality?</h3>
        <p class="paragraph drop-cap">
            Cosmic morality is my own term for deserved praise or blame perceived as a result of one's own volition and
            nothing else. To make that clearer, cosmic morality is when someone thinks they deserve
            praise and someone else deserves blame because volition is the only factor in their actions. This often
            fuels a sense of superiority, even when she who is superior is more lucky in circumstance and generally more
            gifted in her genetic endowment. This perception of the world primes us to consider the homeless more lazy
            and the incarcerated morally depraved. Reinventing and reinvigorating humility demands a closer look at
            free will.
        </p>
        <h3>Free Will</h3>
        <p class="paragraph">
            Free will is a widely controversial and sensitive topic. Questioning the existence of free will is likely to
            be met with a lifted brow or two. German philosopher Arthur Schopenhauer remarked, “A man can do as he
            wills, but
            not will as he wills.” This is quite clear, even bold for that matter. Surely everyone freely chooses their
            study in university, right? Well, more options are available than the one they choose, and they could have
            just
            as <em>easily</em> picked one of those. I’ve italicized “easily” because the option is available, but no physics
            hater
            will pick physics. We could choose the pistachio ice cream over vanilla or chocolate, but will we so much as
            entertain that idea? Of course not! Imagine a woman who kills her husband by mixing arsenic into his drink;
            could she have done otherwise if we rewound the clock of time? It does not seem likely.
            The simple principle of cause and effect seems to be forgotten when discussing free will. The action
            potential
            of a neuron has consequences for other neurons to which it is linked, which have consequences for even other
            neurons to which those are linked. This domino effect does not yield to an uncaused neuron. This might strike
            us as reductive, but extraordinary evidence is required to accept free will.
            Charles Whitman, a man known as the “Texas Tower Sniper”, uncharacteristically stabbed the hearts of his
            wife
            and mother. He then shot several others at a Texas university before scaling the clocktower to mow down over
            thirty people; this took place for approximately an hour and a half before Whitman was shot by police.
            Sometime
            after he was possessed by this rabid behavior, he wrote a note that authorities should take a particular
            interest in his brain during autopsy, speculating that something was neurologically dysfunctional:
        </p>
        <p class="paragraph in-text-quotes">
            “I do not quite understand what it is that compels me to type this letter. Perhaps it is to leave some vague
            reason for the actions I have recently performed. I do not really understand myself these days. I am
            supposed to
            be an average reasonable and intelligent young man. However, lately (I cannot recall when it started) I have
            been a victim of many unusual and irrational thoughts. These thoughts constantly recur, and it requires a
            tremendous mental effort to concentrate on useful and progressive tasks.”
        </p>
        <p class="paragraph">
            The autopsy request was approved in 1966. Urine and blood samples were tested for drugs and other
            physiological
            abnormalities that might suggest a cause for erratic behavior. Nothing abnormal was found except a
            “pecan-sized”
            tumor pressing against Whitman’s brain. Experts could not definitively decide whether the tumor had been the
            culprit, but it was likely. Forensic specialists, apparently having no way to inquire the exact location of
            the
            tumor, theorized that it pressed against the amygdala, the fear, aggression, and anxiety center of the
            brain.
            These happen to be the emotions to which some of our most valuable adaptations can be attributed: vigilance,
            carefulness, motivation, and retaliation to deter further harm coming our way; without them, individuals
            become
            a husk of their former selves (as in the case of amygdalectomy victims), or impulsively engage an opponent
            physically at risk to themselves (as in the case of low serotonin individuals). Whitman made victims
            of many people, but he too was utterly luckless.
        </p>
        <p class="paragraph">
            Evidence supports that Whitman is not alone in being a victim of his own brain. According to the CDC, 25 -
            87%
            of inmates have sustained a traumatic brain injury (TBI) compared to 8.5% in the general population. As a
            result, inmates experience high rates of anxiety, depression, and impulsive aggression, as well as altered
            speech and difficulty understanding correctional officers and other prisoners. TBI is also more common among
            the
            homeless, as well as a significantly low IQ. It should also be noted that a low serotonin level also
            predicts
            lawless behavior and imprisonment.
        </p>
        <p class="paragraph">
            The space in which free will resides has become narrower over time. Disorders such as schizophrenia and
            autism
            were once explained as having been caused by “refrigerator mothers.” That is, cold-hearted mothers who did
            not
            provide their child with enough love or social interaction. Psychologists explained
            this
            to the child’s parents, passing on the consensus of the scientific literature. Upon the discovery of
            schizophrenia as a genetic disorder, these psychologists apologized to the many parents whose years had been
            wracked with torment over the supposed mistreatment of their children. Epilepsy was well understood by
            doctors
            several hundred years ago; it was, of course, a result of the epileptic’s consorting with Beelzebub.
            Epilepsy is
            better understood as a genetic disorder, once again. Rather than burning epileptics at the stake,
            epileptics are made not to drive for some time if they’ve recently seized while driving. If there's
            reason to believe that an epileptic may hurt herself and others while driving, she's
            temporarily kept
            off of the road for safety purposes with no devil-related accusations thrown her way.
            Individuals
            with psychiatric disorders were often put on trial as witches. One clever witch detection method had the
            crucifixion story read to supposed witches; not to find the story tear-jerking was a death sentence. One
            physician sent out a message acknowledging that this holocaust of witches was clearly necessary, but there
            was
            one problem with the crucifixion story method: nasolacrimal ducts in many older women become less functional,
            preventing the flow of tears. In other words, non-witches were being burnt at the stake due
            to
            physiological dysfunction. Over time, we've gradually grasped the ways in which our capacity as the ultimate arbiters of our own
            behavior is undermined. The list of restrictions on free will continues to grow over time; it will not be long
            before our tally of free choices is infinitesimal.
        </p>
        <p class="paragraph in-text-quotes">
            “I returned and saw under the sun, that the race is not to the swift, nor the battle to the strong, neither
            yet
            bread to the wise, nor yet riches to men of understanding, nor yet favour to men of skill; but time and
            chance
            happeneth to them all.” – Ecclesiastes 9:11
        </p>
        <p class="paragraph">
            Everyone is comfortable relieving individuals of responsibility when disorders undermine their
            volition.
            This is progress. It's true that genetic
            determinism is nonsense, but the introduction of behavioral variation in the forms of epigenetics and
            neuroplasticity, among others, does not provide any freedom of will. Let's assume that abuse is required
            for a behavioral change owing to neuroanatomy (such as an enlarged amygdala and the paranoia, aggressiveness,
            and seemingly irrational emotions it brings along for the ride);
            yes, the abuse or absence of abuse by parents has its consequences, but the parents’
            cosmic responsibility in both cases is nil. The child’s circumstances of life are bettered or worsened by the
            parents’
            actions, but to speak of the parents’ responsibility is futile. The parents’ parents, friends, and other
            social
            partners also had influences on their development, including epigenetic changes that take place
            in the womb. Diet, too, is responsible for epigenetic changes. However, responsibility still does not lie in
            the
            hands of the grocery shopper. Her inclinations, mood, and predilections to the bakery's many
            confections, among other factors beyond conscious control, are shackles which inhibit her free choice.
        </p>
        <p class="paragraph">
           It is those who take great pride in their accomplishments, whether material or moral, who cling to free will
            to assert superiority of will over their fellow human beings. This is a shame. One retort is that speaking
            of free will in this way is dehumanizing. Robert Sapolsky, a Stanford neuroendocrinologist and the author of
            <a class="link-text" href="https://www.amazon.com/Behave-Robert-M-Sapolsky-audiobook/dp/B06XVYHXDV/ref=sr_1_1?crid=1H20U8OJXE2
            7Z&keywords=behave&qid=1661200364&sprefix=behave%2Caps%2C522&sr=8-1">Behave</a>, responds that "It's better
            than sermonizing us into evil spirits." Evil is replaced with lucklessness,
        </p>
    </div>
</div>

<!--Footer from "footer.html"-->
{% include "footer.html" %}
</body>
</html>