<!DOCTYPE html>
<html lang="en">
<head>
    <title>Evolutionary Dentistry</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--JavaScript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--CSS Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../styles.css">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Merriweather:ital@1&display=swap" rel="stylesheet">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/36d1313966.js" crossorigin="anonymous"></script>

    <!--Favicon-->
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AAgIBwC6ta8AT05MAProtgDt598AioaDANnTzAD13Z0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREUMzIRERERERFDIREREREREUMhERERERERQyEREREhESQzQhERETIieTV0IzMzMzmVd1mQAAA0Q3VEVZiIiEEUN0IniEREERFDdEhyEREREUNXdXIRERERR1V1liERERQ1cieJYhERFJMhFESGIhRDMhEREUhmQzOCERERFIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
          rel="icon" type="image/x-icon"/>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand">Darwiniana</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active nav-title" href="index.html">Home</a>
                <a class="nav-item nav-link nav-title" href="natural_selection.html">Natural Selection</a>
                <a class="nav-item nav-link nav-title" href="evolutionary_mountain.html">The Evolutionary Mountain</a>
                <a class="nav-item nav-link nav-title" href="../homo_behavior_simians.pdf" target="_blank">Simian Nonreproductive Sex</a>
                <a class="nav-item nav-link nav-title" href="evolutionary_dentistry.html">Vestigial Structures</a>
                <a class="nav-item nav-link nav-title" href="a_cosmic_morality.html">A Cosmic Morality</a>    
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <h1>The Appendix</h1>
    <div class="evolutionary-dentistry-text">
        <div class="paragraph drop-cap">
            The first vestigial organ that comes to mind is the appendix, which is found in many mammal species. Rodents,
            rabbits,
            and wombats have an appendix-like organ while the taxonomic family <a class="link-text"
                                                                                href="https://www.newworldencyclopedia.org/entry/Hominidae"><em>Hominidae</em></a>
            (genuses Pan, Pongo, Gorilla, & Homo) have appendices more familiar to us. Many other Old World primates, those
            found
            in Africa and Asia, also have appendices. The so-called lower <a class="link-text"
                                                                            href="https://www.newworldencyclopedia.org/entry/New_World_monkey">primates
            of the New World</a>
            (South America) and the <a class="link-text" href="https://www.newworldencyclopedia.org/entry/Prosimian">prosimians</a>
            do not have appendices,
            however (<a class="link-text"
                        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1233252/pdf/janat00231-0174.pdf">G.B. Scott,
            1980</a>).
            The prevalence of the appendix should pose to us a question: is the appendix an adaptation? Using the Three-part
            Test
            of Adaptation (Heather Heying & Bret Weinstein, <a class="link-text" href="https://www.amazon.com/Hunter-Gatherers-Guide-21st-Century
        -Challenges/dp/B08WDN2RZB/ref=sr_1_1?keywords=a+hunter+gatherers+guide+to+the+21st+century&qid=1660827919&sprefix=a+
        hunter+gather%2Caps%2C486&sr=8-1">A Hunter-Gatherer's Guide to the 21st Century</a>),

            <ol>
                <li>Is it complex? <b>Yes</b></li>
                <li>Does it have energetic or material costs, which vary between individuals? <b>Yes</b></li>
                <li>Has it persisted over evolutionary time? <b>Yes</b></li>
            </ol>
        </div>
        <div class="paragraph">
            But isn't the appendix vestigial in humans? Well, the rate of appendicitis has not remained constant over the
            decades. If the appendix were vestigial, we would expect rates of appendicitis
            to stay constant for a longer period of time than is the case. We would also expect humans all over the globe to
            be experiencing appendicitis at similar rates.
            <a class="link-text"
            href="https://journals.lww.com/annalsofsurgery/FullText/2017/08000/The_Global_Incidence_of_Appendicitis__A_Systematic.8.aspx">Ferris
                et al. (2017)</a>
            find that the period during which a country industrializes coincides with a growing rate of appendicitis. The
            United States (including Alaska but not Canada),
            Italy, New Zealand, and the Scandinavian countries were already experiencing high rates of appendicitis before
            1970, namely >= 150 per 100,000. Since 1970,
            Canada, Mexico, other European countries, and parts of Africa and South America have joined the ranks.
            Appendicitis is slowly becoming a global phenomenon.
        </div>
    </div>
    <section id="bottom-section">
        <hr class="navbar-hr">
        <div>
            <p>
                <i class="fa-solid fa-user-tie fa-2x footer-icon"></i>
            </p>
            <p>
                Created by Brandon Anderson, 2023
            </p>
        </div>
    </section>
</body>
</html>