<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Evolutionary Mountain</title>
</head>

<!--Header from "header.html"-->
{% include "header.html" %}
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand">Darwiniana</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active nav-title" href="{{ url_for('home') }}">Home</a>
                <a class="nav-item nav-link nav-title" href="{{ url_for('natural_selection') }}">Natural Selection</a>
                <a class="nav-item nav-link nav-title" href="{{ url_for('evolutionary_mountain') }}">The Evolutionary Mountain</a>
                <a class="nav-item nav-link nav-title" href="{{ url_for('animal_sentience') }}">Implications of Animal Sentience</a>
                <a class="nav-item nav-link nav-title" href="{{ url_for('static', filename='image/homosexual_behavior_in_simians.pdf') }}"
                   target="_blank">Simian Nonreproductive Sex</a>
                <a class="nav-item nav-link nav-title" href="{{ url_for('evolutionary_dentistry') }}">Vestigial Structures and Evolutionary Dentistry</a>
                <a class="nav-item nav-link nav-title" href="{{ url_for('a_cosmic_morality') }}">A Cosmic Morality</a>
                <a class="nav-item nav-link nav-title" href="{{ url_for('static', filename='image/kierkegaard_and_the_religious_sense.pdf') }}">The Religious Sense</a>
    
            </div>
        </div>
    </nav><br>
    <br>
    <br>
    <div class="row">
        <div class="paragraph col-lg-6">
            Cephalopods lack the visual blind spot that impairs the mammalian clade; is it possible that the mammalian eye
            will eventually be redesigned by natural selection to resemble that superior eye of the cephalopod? It isn't likely.

            One evolutionary biologist remarked that natural selection is not an inventor but a tinkerer, working with what has
            already been built to improve functionality. For this reason, there would need to be intermediate adaptations to the
            mammalian eye to access the superior cephalopod eye. For as long as these intermediate changes are not adaptive, the
            mammalian eye will not develop into that of the cephalopod.

            The complete rework of an organ is unavailable to natural selection
        </div>
        <div class="col-lg-6">
            <img src="{{ url_for('static', filename='image/eyes-image.png') }}">


        </div>
    </div>

<!--Footer from "footer.html"-->
{% include "footer.html" %}

</body>
</html>