<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<!--Header from "header.html"-->
{% include "header.html" %}


<section id="bottom-section">
    <hr class="navbar-hr">
    <div>
        <p>
            <i class="fa-solid fa-user-tie fa-2x footer-icon"></i>
        </p>
        <p>
            Created by Brandon Anderson, {{ current_year }}
        </p>
        <p>
            Visit Attributions page <a class="link-text" href="{{ url_for('attributions') }}">here</a>
        </p>
    </div>
</section>
</html>