<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natural Selection</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--JavaScript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--CSS Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../styles.css">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Merriweather:ital@1&display=swap" rel="stylesheet">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/36d1313966.js" crossorigin="anonymous"></script>

    <!--Favicon-->
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AAgIBwC6ta8AT05MAProtgDt598AioaDANnTzAD13Z0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREUMzIRERERERFDIREREREREUMhERERERERQyEREREhESQzQhERETIieTV0IzMzMzmVd1mQAAA0Q3VEVZiIiEEUN0IniEREERFDdEhyEREREUNXdXIRERERR1V1liERERQ1cieJYhERFJMhFESGIhRDMhEREUhmQzOCERERFIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
        rel="icon" type="image/x-icon"/>
</head>


<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand">Darwiniana</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active nav-title" href="index.html">Home</a>
                <a class="nav-item nav-link nav-title" href="natural_selection.html">Natural Selection</a>
                <a class="nav-item nav-link nav-title" href="evolutionary_mountain.html">The Evolutionary Mountain</a>
                <a class="nav-item nav-link nav-title" href="../homosexual_behavior_in_simians.pdf" target="_blank">Simian Nonreproductive Sex</a>
                <a class="nav-item nav-link nav-title" href="evolutionary_dentistry.html">Vestigial Structures and Evolutionary Dentistry</a>
                <a class="nav-item nav-link nav-title" href="a_cosmic_morality.html">A Cosmic Morality</a>    
            </div>
        </div>
    </nav>
    <div class="natural-selection-text row">
        <img class="col-lg-6 image" src="../leaf-gecko-image.jpg">
        <div class="paragraph col-lg-6">
        <p class="drop-cap">
            You may hear evolution and natural selection used interchangeably. Evolution is merely a multi-generational
            change in allele frequencies in a given population of organisms. Natural selection, discovered concurrently by
            Charles Darwin and Alfred Russel Wallace, is an adaptive form of evolution - one which contributes positively to
            an organism's reproductive output. As Steven Pinker puts it, "Natural selection is not the only process that
            changes organisms over time. But is the only process that seemingly designs organisms over time." What, then,
            are the other forms of evolution - the non-adaptive ones? Non-adaptive forms of evolution include genetic drift,
            gene flow, and mutation."
        </p>
        <p>
            Camouflage is a product of natural selection favored by teachers in a classroom.
            “Behavioral genetics confirms that aggressive tendencies can be inherited, and that gives natural selection
            material to work with in shifting the average violent tendencies of a population.” - Steven Pinker

        </p>
            </div>
    </div>
    <hr>
    <div class="natural-selection-text row">
        <div class="paragraph col-lg-6">
            More will be added to this page at a later date . . .
        </div>
        <img class="col-lg-6 image" src="../lizard-camo-image.jpg">
    </div>
    <section id="bottom-section">
        <div>
            <p>
                <i class="fa-solid fa-user-tie fa-2x footer-icon"></i>
            </p>
            <p>
                Created by Brandon Anderson, 2023
            </p>
        </div>
    </section>    
</body>
</html>